langchain
langchain_community
InstructorEmbedding
langchain_huggingface
sentence_transformers
google-generativeai
python-dotenv
streamlit
tiktoken
faiss-cpu
protobuf
torch>=1.13.0
transformers>=4.36.0
git+https://github.com/openai/whisper.git
pyaudio>=0.2.13
SpeechRecognition>=3.10.0
git+https://github.com/elevenlabs/elevenlabs-python.git
sounddevice>=0.4.6
scipy>=1.11.4
numpy>=1.24.0
